<main class="container" *ngIf="!formVisible">
  <h1>{{titre}}</h1>
  <h2>Liste des assignments :</h2>

  <button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtn()">
    Ajouter assignment
  </button>

  <mat-list *ngFor="let assignment of assignments" [ngClass]="{
        'rendu':assignment.rendu,
        'nonrendu':'2px solid blue'
        }">
    <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>

    <mat-list-item (click)="assignmentClique(assignment)">
      <p *ngIf="assignment.rendu; else nonsoumis">
        {{assignment.nom}}, à rendre le {{assignment.dateDeRendu | date}},
        soumis par l'élève : {{assignment.rendu}}.
      </p>

      <ng-template #nonsoumis>
        <p>Le devoir {{assignment.nom}} n'a pas été rendu !</p>
      </ng-template>

      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-list>
</main>

<app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" *ngIf="formVisible"></app-add-assignment>
<app-assignment-detail [assignmentTransmis]="assignementSelectionne"></app-assignment-detail>