.rendu {
  color:green;
}

.nonRendu {
  color:red;
  background-color: yellow;
  border : 3px dashed purple;
}

.important {
   font-size: 40px;
 }

 .form {
   display: flex;
   flex-direction: column;
   margin: 5px;
 }

.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

input[type="search"] {
  border-radius: 25px;
  box-shadow: 0px 0px 5px #ccc;
  background-color: #f9f9f9;
  transition: width 0.4s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  width: 150px;
  width: 20%;
  padding: 5px;
}

