<main class="container">
  <div class="container__top">
    <h1>
      <mat-icon class="content__container__title-icon">assignment_ind</mat-icon> {{titre}}
    </h1>
    <div class="ajouterBtn">
      <a routerLink="/add">
        <button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtn()">
          Ajouter assignment
        </button>
      </a>
    </div>
  </div>
  <h2>Liste des assignments :</h2>

  

  <mat-list *ngFor="let assignment of assignments" [ngClass]="{
        'rendu':assignment.rendu,
        'nonrendu':'2px solid blue'
        }">
        <nav><a routerLink="/assignment/{{assignment.id}}">
    <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>

    <mat-list-item (click)="assignmentClique(assignment)">
      <p *ngIf="assignment.rendu; else nonsoumis">
        {{assignment.nom}}, à rendre le {{assignment.dateDeRendu | date}},
        soumis par l'élève : {{assignment.rendu}}.
      </p>

      <ng-template #nonsoumis>
        <p>Le devoir {{assignment.nom}} n'a pas été rendu !</p>
      </ng-template>

      <mat-divider></mat-divider>
    </mat-list-item>
   </a></nav>
  </mat-list>
</main>

<!--<app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" *ngIf="formVisible"></app-add-assignment>-->
<!--<app-assignment-detail [assignmentTransmis]="assignementSelectionne"></app-assignment-detail>-->