<main class="container">
  <div class="container__top">
    <h1>
      <mat-icon class="content__container__title-icon">assignment_ind</mat-icon> {{titre}}
    </h1>
    <div class="ajouterBtn">
      <a routerLink="/add">
        <button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtn()">
          Ajouter assignment
        </button>
      </a>
    </div>
  </div>
  <h2>Liste des assignments :</h2>
  <input type="search" [(ngModel)]="searchTerm" placeholder="Rechercher..." >

  <div class="assignments__table">
    <div class="assignments__table__header">
      <h3>Nom du devoir</h3>
      <h3>Date de rendu</h3>
      <h3>Rendu</h3>
      <h3>Détails</h3>
    </div>


      <div class="assignments__table__items">
        <mat-list class="table-mat-list" *ngFor="let assignment of assignments | filter:searchTerm" [ngClass]="{
          'rendu':assignment.rendu,
          'nonrendu':'2px solid blue'
          }">
          
          <mat-list-item>
            <p>{{assignment.nom}}</p>
          </mat-list-item>

          <mat-list-item>
            <p>{{assignment.dateDeRendu | date}}</p>
          </mat-list-item>

          <mat-list-item (click)="assignmentClique(assignment)">
            <p *ngIf="assignment.rendu; else nonsoumis">
              Le devoir a été rendu.
            </p>
      
            <ng-template #nonsoumis>
              <p>Le devoir n'a pas été rendu !</p>
            </ng-template>
          </mat-list-item>

          <mat-list-item>
            <a routerLink="/assignment/{{assignment.id}}">
              <button mat-button color="primary">Voir détails</button>
            </a>
          </mat-list-item>
          
          <mat-divider></mat-divider>
        </mat-list>
    </div>
  </div>
</main>

<!--<app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" *ngIf="formVisible"></app-add-assignment>-->
<!--<app-assignment-detail [assignmentTransmis]="assignementSelectionne"></app-assignment-detail>-->